<!DOCTYPE html>
<html lang = 'en'>
<head>
    <meta charset="'UTF-8">
    <meta name='viewport' content="'width=device=width, initial-scale=1.0">
    <title> Starter Web </title>
    <link rel="stylesheet" href="../static/styles/File.css">
</head>
<body>
   <h1>Title.</h1>
   <hr>
    <div>
        <p>no,</p>
        <ul>
            <li> no </li>
            <li> no </li>
            <li> no </li>
            <li > <a class='Special' href="https://www.dictionary.com/browse/no">yes. </li>
        </ul>
    </div>

</body>

</html>